In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\danes\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\danes\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\danes\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\danes\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\danes\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('C:/Users/danes/Downloads/archive/Uncleaned_DS_jobs.csv')

In [52]:
df = pd.DataFrame(df)

In [53]:
df = df[df['Job Title'].str.contains('Data')]

In [54]:
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [55]:
df = df[df['Location']=='New York, NY']

In [56]:
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
20,20,Data Scientist,$137K-$171K (Glassdoor est.),Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"New York, NY","San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
21,21,Data Scientist/Machine Learning,$137K-$171K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint\n4.3,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Crossix Solutions Inc., AppNexus, The Trade Desk"
66,66,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
76,76,"Data Engineer, Enterprise Analytics",$79K-$131K (Glassdoor est.),Description\n\nThe Data Engineer on the Enterp...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
78,78,Data Scientist,$79K-$131K (Glassdoor est.),Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies\n2.9,"New York, NY","Hartford, CT",201 to 500 employees,1985,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"Colony Specialty, Markel, RLI"
97,97,"Data Scientist, Kinship - NYC/Portland",$99K-$132K (Glassdoor est.),Back to search results\nPrevious job\n\nNext j...,3.9,Mars\n3.9,"New York, NY","Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1
115,115,Data Scientist,$99K-$132K (Glassdoor est.),***Please note: All hiring and recruitment at ...,3.6,Spring Health\n3.6,"New York, NY","New York, NY",1 to 50 employees,2016,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
173,173,Senior Data Scientist - Algorithms,$101K-$165K (Glassdoor est.),Company Description: Quartet is a pioneering h...,3.9,Quartet Health\n3.9,"New York, NY","New York, NY",201 to 500 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
182,182,Sr. Data Scientist II,$56K-$97K (Glassdoor est.),Data Scientist\n\nBefore the dawn of everythin...,3.5,Argo Group US\n3.5,"New York, NY","Hamilton, Bermuda",1001 to 5000 employees,1948,Company - Public,Insurance Carriers,Insurance,$1 to $2 billion (USD),-1
194,194,Senior Data Scientist - R&D Oncology,$56K-$97K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",4.0,AstraZeneca\n4.0,"New York, NY","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Roche, GlaxoSmithKline, Novartis"
221,221,Data Scientist/Machine Learning,$71K-$123K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint\n4.3,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Crossix Solutions Inc., AppNexus, The Trade Desk"
234,234,Sr. Data Scientist II,$71K-$123K (Glassdoor est.),Data Scientist\n\nBefore the dawn of everythin...,3.5,Argo Group US\n3.5,"New York, NY","Hamilton, Bermuda",1001 to 5000 employees,1948,Company - Public,Insurance Carriers,Insurance,$1 to $2 billion (USD),-1
242,242,Software Data Engineer,$90K-$124K (Glassdoor est.),1010data values:\n\n\nIntegrity: Doing the rig...,3.1,1010data\n3.1,"New York, NY","New York, NY",201 to 500 employees,2000,Company - Private,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1
253,253,Data Scientist,$90K-$124K (Glassdoor est.),You are key to helping global clients make bet...,4.1,Gallup\n4.1,"New York, NY","Washington, DC",1001 to 5000 employees,1935,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,"Advisory Board, Booz Allen Hamilton, McKinsey ..."
254,254,Data Scientist,$90K-$124K (Glassdoor est.),Job Description\nBusiness Insider and Insider ...,3.3,Insider Inc\n3.3,"New York, NY","New York, NY",201 to 500 employees,2007,Company - Private,News Outlet,Media,$50 to $100 million (USD),-1
258,258,Data Scientist,$90K-$124K (Glassdoor est.),Full Time Data Scientist\n\nThe Drive Media is...,5.0,"The Drive Media, Inc.\n5.0","New York, NY",-1,Unknown,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1
269,269,"Data Engineer, Digital & Comp Pathology",$91K-$150K (Glassdoor est.),Paige is a software company helping pathologis...,5.0,Paige\n5.0,"New York, NY","New York, NY",1 to 50 employees,2018,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
272,272,Data Scientist,$91K-$150K (Glassdoor est.),Business Unit: Data Scientist Comcast brings t...,3.5,Comcast\n3.5,"New York, NY","Philadelphia, PA",10000+ employees,1963,Company - Public,-1,-1,$10+ billion (USD),"AT&T, Verizon"
286,286,Senior Data Scientist - R&D Oncology,$141K-$225K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",4.0,AstraZeneca\n4.0,"New York, NY","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Roche, GlaxoSmithKline, Novartis"
296,296,Data Scientist,$141K-$225K (Glassdoor est.),"Job Description\nExpertise in NLP, including a...",3.4,SleePare\n3.4,"New York, NY","New York, NY",1 to 50 employees,2017,Company - Private,Other Retail Stores,Retail,Unknown / Non-Applicable,-1
298,298,Data Scientist,$141K-$225K (Glassdoor est.),--------\nImportant: The hiring process for th...,3.5,Dolphin\n3.5,"New York, NY","Lake Buena Vista, FL",1001 to 5000 employees,1990,Company - Private,"Hotels, Motels, & Resorts",Travel & Tourism,Unknown / Non-Applicable,-1
301,301,Data Scientist,$141K-$225K (Glassdoor est.),Location: Anywhere in the US or Canada | Locat...,3.7,TA Digital\n3.7,"New York, NY","Newark, CA",501 to 1000 employees,2000,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1
308,308,Data Scientist,$145K-$225K(Employer est.),Data Scientist\n\nRequirements\nMS or PhD in C...,5.0,Kollasoft Inc.\n3.2,"New York, NY","Irving, TX",Unknown,-1,Company - Public,-1,-1,Unknown / Non-Applicable,-1
310,310,Data Scientist,$145K-$225K(Employer est.),Job Description\nTitle: Data Scientist\nLocati...,4.4,Adwait Algorithm\n4.4,"New York, NY","Houston, TX",51 to 200 employees,2015,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1
317,317,Data Scientist,$145K-$225K(Employer est.),"Role - Data Scientist\nLoccation - NYC, NY\nPo...",3.8,Enterprise Solutions Inc\n3.8,"New York, NY","Naperville, IL",51 to 200 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1
319,319,Data Scientist,$145K-$225K(Employer est.),"Job Description\nSelecting features, building ...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
341,341,Data Scientist,$79K-$147K (Glassdoor est.),"Hi,\n\nGreetings of the Day!!!\n\nLooking for ...",4.8,TechProjects\n4.8,"New York, NY","North Brunswick, NJ",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1
342,342,"VP, Data Science",$79K-$147K (Glassdoor est.),"We are looking for a VP, Data Science to lead ...",3.9,7Park Data\n3.9,"New York, NY","New York, NY",51 to 200 employees,2012,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1
349,349,Data Scientist,$122K-$146K (Glassdoor est.),We are the most sought after hedge fund in New...,5.0,Averity\n5.0,"New York, NY","New York, NY",1 to 50 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
425,425,Data Scientist,$124K-$198K (Glassdoor est.),"Job Description\nSelecting features, building ...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
427,427,Data Scientist,$79K-$133K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
460,460,Data Scientist,$69K-$116K (Glassdoor est.),As a data scientist at TBWA\Chiat\Day New York...,2.7,TBWA\Chiat\Day\n2.7,"New York, NY","New York, NY",1001 to 5000 employees,1968,Company - Public,Advertising & Marketing,Business Services,$100 to $500 million (USD),-1
465,465,Data Scientist,$69K-$116K (Glassdoor est.),"Hi,\n\nGreetings of the Day!!!\n\nLooking for ...",4.8,TechProjects\n4.8,"New York, NY","North Brunswick, NJ",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1
469,469,"VP, Data Science",$31K-$56K (Glassdoor est.),"We are looking for a VP, Data Science to lead ...",3.9,7Park Data\n3.9,"New York, NY","New York, NY",51 to 200 employees,2012,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1
490,490,Data Scientist,$95K-$119K (Glassdoor est.),"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc\n4.0,"New York, NY","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1
511,511,Data Scientist(s)/Machine Learning Engineer,$212K-$331K (Glassdoor est.),Company: AI/Data Science\nLocation: New York C...,5.0,Blue Horizon Tek Solutions\n5.0,"New York, NY","Coconut Creek, FL",1 to 50 employees,1987,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
524,524,Data Scientist,$212K-$331K (Glassdoor est.),CompuForce is seeking an experienced and highl...,-1.0,CompuForce,"New York, NY","New York, NY",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1
527,527,Data Scientist,$212K-$331K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1
546,546,Data Scientist,$66K-$112K (Glassdoor est.),Responsibilities Play a key role to solve comp...,4.6,HAN IT Staffing Inc.\n4.6,"New York, NY","Totowa, NJ",51 to 200 employees,2012,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1
558,558,Clinical Data Analyst,$128K-$201K (Glassdoor est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Nonprofit Organization,Consulting,Business Services,$25 to $50 million (USD),"KPMG, Accenture, Deloitte"
588,588,Senior Data Engineer,$138K-$158K (Glassdoor est.),Senior Data Engineer\n\nMaster’s degree in Inf...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
605,605,Data Scientist,$80K-$132K (Glassdoor est.),"Use statistical analysis, machine learning, pa...",4.0,Lorven Technologies Inc\n4.0,"New York, NY","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1
631,631,"Data Scientist, Kinship - NYC/Portland",$92K-$155K (Glassdoor est.),Back to search results\nPrevious job\n\nNext j...,3.9,Mars\n3.9,"New York, NY","Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1
640,640,Data Scientist(s)/Machine Learning Engineer,$92K-$155K (Glassdoor est.),Company: AI/Data Science\nLocation: New York C...,5.0,Blue Horizon Tek Solutions\n5.0,"New York, NY","Coconut Creek, FL",1 to 50 employees,1987,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [57]:
grouped_df = df.groupby('Job Title')['Sector'].count()

In [58]:
grouped_df

Job Title
Clinical Data Analyst                           1
Data Engineer, Digital & Comp Pathology         1
Data Engineer, Enterprise Analytics             1
Data Scientist                                 28
Data Scientist(s)/Machine Learning Engineer     2
Data Scientist, Kinship - NYC/Portland          2
Data Scientist/Machine Learning                 2
Senior Data Engineer                            1
Senior Data Scientist - Algorithms              1
Senior Data Scientist - R&D Oncology            2
Software Data Engineer                          1
Sr Data Scientist                               1
Sr. Data Scientist II                           2
VP, Data Science                                2
Name: Sector, dtype: int64

In [68]:
dfclean = pd.read_csv('C:/Users/danes/Downloads/archive/cleaned_DS_jobs.csv')

In [69]:
dfclean  = pd.DataFrame(dfclean)

In [70]:
dfclean

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,20,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,22,1,1,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,31,1,1,1,0,0,1,1,data scientist,na
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,-1,0,0,0,0,0,0,0,data scientist,na
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,-1,1,1,1,0,0,1,0,data scientist,na
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,-1,1,0,1,1,0,0,1,data scientist,na
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,44,1,1,0,0,0,1,0,data scientist,na

In [71]:
dfclean = dfclean.merge(df, on = 'Company Name')

In [72]:
dfclean

,Job Title_x,Salary Estimate_x,Job Description_x,Rating_x,Company Name,Location_x,Headquarters_x,Size_x,Type of ownership_x,Industry_x,...,Rating_y,Location_y,Headquarters_y,Size_y,Founded,Type of ownership_y,Industry_y,Sector_y,Revenue_y,Competitors
0,Data Scientist,145-225,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,Company - Private,Consulting,...,-1.0,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
1,Data Scientist,145-225,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,Company - Private,Consulting,...,-1.0,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
2,Data Scientist,124-198,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,Company - Private,Consulting,...,-1.0,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
3,Data Scientist,124-198,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,Company - Private,Consulting,...,-1.0,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1
4,Data Scientist,212-331,CompuForce is seeking an experienced and highl...,0.0,CompuForce,"New York, NY","New York, NY",Unknown,Company - Private,-1,...,-1.0,"New York, NY","New York, NY",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1